
    <div class="wrapper bgc_body">
    <div class="w h  col_body">
        <div class="bgc_blue col_fff h40 flex-center p_r">
            <div class="p_a l15 h flex-center">
                <img src="ncp/app1/icon/back@2x.png" alt="" class="w10 h20" ng-click="back()">
            </div>
            <div class="f_s16">我的积分</div>
        </div>
        <!--积分总额-->
        <div class="h140 w p_r ">
            <img src="ncp/app1/icon/my integral_banner@2x.png.png" alt="">
            <div class="p_a h60 w b40 p_r">
                <div class="col_fff w f_s30 t_a_c" ng-bind="infoHTML">0</div>
                <div class="col_fff w f_s16 t_a_c p_a b">积分</div>
            </div>
        </div>
        <!--积分使用情况-->
        <div class="w h40 bgc_fff flex-start col_b1">
            <div class="w_b33 bor_r h flex-center " ng-click="pointsFun('add')" ng-class="{'bor_b_y':p==1}">获取记录</div>
            <div class="w_b33 bor_r h flex-center " ng-click="pointsFun('use')" ng-class="{'bor_b_y':p==2}">使用记录</div>
            <div class="w_b33 flex-center h " ng-click="pointsRuleFun()" ng-class="{'bor_b_y':p==3}">使用规则</div>
        </div>
        <!--积分详情-->
        <div class="w_b90 bgc_fff m0a m_t7 p_15_10 p_r" ng-repeat="dt in listInfo" ng-hide="p==3">
            <div class="f_s12 w" ng-bind="dt.integral_type_show">前端</div>
            <div class="f_s12 w m_t5" ng-bind="dt.deduction" ng-show="type=='use'"></div>
            <div class="f_s10 w_b50 h flex-end p_a r t p_r10">
                <div>+<span ng-bind="dt.integral_value"></span>积分</div>
            </div>
            <div class="f_s10 h25    p_r ">
                <div class="p_a b" ng-bind="dt.create_time">时间</div> 
            </div>
        </div>
    </div>
    </div>
