<div class="wrap flex flex-v back_ef" id="address_manage">
    <!--<div class="pulice_header">-->
        <!--<div class="titbox p_r">-->
            <!--<a href="javascript:history.go(-1)" class="history_1 p_a"></a>-->
            <!--<p class="tit">地址管理</p>-->
        <!--</div>-->
    <!--</div>-->
    <div class="main back_ef flex-1">
        <ul class="addressbox">
            <li class="address-list mb-10">
                <div class="addressBar mb-1 plr-15 o_h back_fff">
                    <div class="col_333 l mt-15">
                        <p class="address-detail f-14 o_h">
                            <span class="di_bl l addressName text_ellipsis">大魔王</span>
                            <span class="di_bl l ml-15 addressPhone">123456789009</span>
                        </p>
                        <p class="address-detailed mt-10 f-12">上海市浦东新区三林镇长清路507号</p>
                    </div>
                    <p class="r col_EA2 f-12 mt-15">默认地址</p>
                </div>
                <div class="edit-address plr-15 f-14 back_fff"><a href="" class="col_999 di_bl h100 r">编辑</a></div>
            </li>
            <li class="address-list mb-10">
                <div class="addressBar mb-1 plr-15 o_h back_fff">
                    <div class="col_333 l mt-15">
                        <p class="address-detail f-14 o_h">
                            <span class="di_bl l addressName text_ellipsis">大魔王</span>
                            <span class="di_bl l ml-15 addressPhone">123456789009</span>
                        </p>
                        <p class="address-detailed mt-10 f-12">上海市浦东新区三林镇长清路507号</p>
                    </div>
                </div>
                <div class="edit-address plr-15 f-14 back_fff"><a href="" class="col_999 di_bl h100 r">编辑</a></div>
            </li>
            <li class="address-list mb-10">
                <div class="addressBar mb-1 plr-15 o_h back_fff">
                    <div class="col_333 l mt-15">
                        <p class="address-detail f-14 o_h">
                            <span class="di_bl l addressName text_ellipsis">大魔王</span>
                            <span class="di_bl l ml-15 addressPhone">123456789009</span>
                        </p>
                        <p class="address-detailed mt-10 f-12">上海市浦东新区三林镇长清路507号</p>
                    </div>
                </div>
                <div class="edit-address plr-15 f-14 back_fff"><a href="" class="col_999 di_bl h100 r">编辑</a></div>
            </li>
        </ul>
        <a href="" class="add-address di_bl t_c col_fff main_back f-16 bor_5">新增地址</a>
    </div>
    <!--<div class="footer"></div>-->
</div>