<!--<div class="wrap flex flex-v">-->
<div class="wrap ">
    <!--<div class="pulice_header">-->
        <!--<div class="titbox p_r">-->
            <!--<a href="javascript:history.go(-1)" class="history_1 p_a"></a>-->
            <!--<p class="tit">商品分类</p>-->
            <!--<a href="#/home" class="rold p_a">回到商城</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="classify p_f back_fff">-->
        <!--<p class="tit">全部分类</p>-->
        <!--<div id="nav">-->
            <!--<div class="scroller">-->
                <!--<ul class="o_h back_fff">-->
                    <!--<li ng-class="{act:l.goods_uuid==obj.uuid}" ng-repeat="l in obj.Levellist" uuid="{{l.goods_uuid}}" ng-click="obj.clicktag(l.goods_uuid)" switch>-->
                    <!--<span class="di_bl">{{l.goods_name}}</span></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="clas_arrdow p_a"><span></span></div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="tagzw"></div>-->
    <!--<div class="main flex-1">-->
    <div class="main ">
        <div class="banners">
            <div class="swiper-container banner t_c hei_150">
                <div class="swiper-wrapper">

                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <ul class="shop_list"></ul>
        <div class="t_c f-14 col_666 line_h50">{{modelstext}}</div>
    </div>
    <a class="p_f cartbtn" ng-click="appCart()"></a>
</div>