<div id="share_store" class="w100 h100 back_F7">
    <div class="line_h45 hei_45 plr-15 back_fff">
        <p class="col_333 f-14 l">2017-04-20 12:00</p>
        <p class="main_col f-14 l ml-15 main_b1b di_in line_h35">全球农产品网</p>
    </div>
    <div class="APPopen o_h">
        <div class="l">
            <p class="applogo o_h">
                <img src="" alt="">
            </p>
            <p class="f-12 t_c col_fff">全球农产品APP</p>
            <p class="f-12 t_c col_fff mb-40">开启全新专业服务</p>
        </div>
        <div class="l">
            <p class="apptwoCode">
                <img src="" alt="">
            </p>
            <p class="f-14 t_c col_fff mt-18">扫描下载APP</p>
        </div>
        <div class="l">
            <p class="APPopen f-14 col_fff t_c">立即打开</p>
        </div>
    </div>
    <ul class="plr-15 f-14 line_h40 back_fff">
        <li>品类:</li>
        <li>数量：¥112</li>
        <li>地区：上海市浦东新区</li>
        <li>价格：¥112</li>
        <li>详情：</li>
    </ul>
    <div class="mt-10 o_h">
        <div class="list-Column plr-15 back_fff f-14 b1b_CD hei_45">
            <a href="javascript:void(0)" class="di_bl w100 h100">
                <span class="di_bl l">公司：镇平县大鹏农业农民专业合作社</span>
                <i class="list-right hei_45 right-icon r"></i>
            </a>
        </div>
        <div class="list-Column plr-15 back_fff f-14 b1b_CD hei_45">
            <a href="javascript:void(0)" class="di_bl w100 h100">
                <span class="di_bl l">联系人：徐经理</span>
                <i class="list-right hei_45 right-icon r"></i>
            </a>
        </div>
        <div class="list-Column plr-15 back_fff f-14 b1b_CD hei_45">
            <a href="javascript:void(0)" class="di_bl w100 h100">
                <span class="di_bl l">手机：137********</span>
                <i class="list-right hei_45 right-icon r"></i>
            </a>
        </div>
        <div class="list-Column plr-15 back_fff f-14 b1b_CD hei_45">
            <a href="javascript:void(0)" class="di_bl w100 h100">
                <span class="di_bl l">地址：**省**市**县**镇</span>
                <i class="list-right hei_45 right-icon r"></i>
            </a>
        </div>
        <div class="list-Column plr-15 back_fff f-14 b1b_CD hei_45">
            <a href="javascript:void(0)" class="di_bl w100 h100">
                <span class="di_bl l">状态: 在线</span>
                <i class="list-right hei_45 right-icon r"></i>
            </a>
        </div>
    </div>
</div>