
    <div> 
    <!--标题区-->
        <div class="bgc_blue col_fff h40 flex-center p_r">
            <div class="p_a l15 h flex-center">
                <img src="app/icon/back@2x.png" alt="" class="w10 h20" ng-click="back()">
            </div>
            <div class="f_s16">用户预约协议</div>
        </div>
    <!--协议区-->
        <div class=" t_a_c m_t20 m_b30 f_w_6">预约协议</div>
        <div class="f_s13 bk w_b90 m0a ">
            <p class="t_i2">协议内容,,协议内容协议内容协议内容协议内容协议内容协议内容</p>

        </div>
    </div> 

