<div class="wrapper">
        <div class="bgc_blue col_fff h40 flex-center p_r">
            <div class="p_a l15 h flex-center">
                <img src="app/icon/back@2x.png" alt="" class="w10 h20" ng-click="back()">
            </div>
            <div class="f_s16">套餐一详情</div>
        </div>
        <div class="w h130"><img src="app/images/details_banner@2x.png" alt=""></div>
        <div class="bk w  p_t15 p_l15">
            <div class="bk w_b90 f_s16 f_w_6">套餐一详情:</div>
            <div class="f_s14 m_t15"><span class="f_w_6">工艺</span>
            <div class="m_t10">水管走墙、横平竖直、强弱电走地</div></div>

            <div class="f_s14 m_t15"><span class="f_w_6">材料</span>
            <div class="m_t10">保利、伟星、金牛、日丰等、普通pvc电线</div></div>

            <div class="f_s14 m_t15"><span class="f_w_6">赠品</span>
            <div class="m_t10">前置过滤器B1、水电保修年卡</div></div>

            <div class="f_s16 m_t30 m_b25 col_red">备注：循环水另计</div>
        </div>
        <div class="bk w h_b20 p_f b f_s16 ">
            <div class="bgc_body h10"></div>
            <div class="bk h45 w flex-start m_l20 w_b90">价格:
            <div class="col_red m_l20 ">99元/平方</div>
            </div>
            <div class="flex-center h_b60 bgc_body">
                <input type="button" name="y" value="去预约" class="b_r40 w_b90 h50 bgc_blue col_fff">
            </div>
        </div>
</div>