<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>爱康水电服务平台</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="format-detection" content="telephone=no"/>
        <!--移动端适配导入-->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../../css/style1.css">
        <link rel="stylesheet" type="text/css" href="../../css/main1.css">
        <link rel="stylesheet" type="text/css" href="../../css/reset1.css">
        <!--rem单位js-->
        <script type="text/javascript">
            (function (doc, win) {
                var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        if(clientWidth>=640){
                            docEl.style.fontSize = '100px';
                        }else{
                            docEl.style.fontSize = 100 * (clientWidth / 750) + 'px'; // iphone6
                    }
                };
                if(!doc.addEventListener) return;
                win.addEventListener(resizeEvt, recalc, false);
                doc.addEventListener('DOMContentLoaded', recalc, false);
            })(document, window);
        </script>

    </head>
    <body>
    <div class="wrapper bgc_body">
        <!--头-->
        <div class="bgc_blue col_fff h40 flex-center p_r">
            <div class="p_a l15 h flex-center">
                <img src="app/icon/back@2x.png" alt="" class="w10 h20" ng-click="back()">
            </div>
            <div class="f_s16">意见反馈</div>
        </div>
        <!--意见和建议-->
        <div class=" h30 w flex-start p_l15 col_b4">意见和建议</div>
        <div class="">
            <div class="w h130 " >
             <textarea name="" id="" cols="30" rows="5" class="w h p_t10 p_l15 p_r10 p_b10 bor_n" placeholder="您输入您的反馈意见~"></textarea>
            </div>
        </div>
        <!--联系方式-->
        <div class=" h30 w flex-start p_l15 col_b4">联系方式</div>
        <div class="w h40 p_l15 bgc_fff" >
             <input type="tel" maxlength="20" placeholder="留下您的联系方式" class="w h">
        </div>
        <div class="p_a b w flex-center h50 bgc_blue col_fff f_s20" ng-click="ofFun()">
            提交
        </div>
    </div>
    </body>
</html>