 <div class="wrapper">
        <div class="bgc_blue col_fff h40  p_r flex-center">
            <div class="p_a l15 h flex-center">
                <img src="app/icon/back@2x.png" alt="" class="w10 h20" ng-click="back()">
            </div>
            <div class="f_s16">更换绑定手机号</div>
        </div>
        <!--更换绑定的手机号码-->
        <div class="w150 h50 m0a m_t40 f_s16 m_b40" ng-hide="userInfo.member_phone==''">
            <div class="flex-center m_b5" >当前绑定</div>
            <div class="flex-center f_w_6 l_s1">{{phone1}}</div>
        </div>
        <div class="m0a m_t20 w_b90 h45 flex-between">
            <div class=" h bk w210 flex-start bor b_r5 p_l15">
                <input type="text" placeholder="请输入收到的验证码" ng-model="code2.phone">
            </div>
            <div class="h">
            <input type="button" class="{{paraclass}}" id="codebtn" ng-click="updateMobilefun()" value="{{paracont}}" disabled="disabled"> 
            </div>
        </div>
        <div>
            <div class="w_b90 m0a f_s10 col_red m_t10">
                <div class="w h20" ng-show="codeOf==0">请输入正确的验证码！</div>
                <div class="w h20" ng-hide="codeOf==0"></div>
            </div>
            <div ng-click="codefun()">
                <div class="flex-center w h25 col_red m_t5" ng-show="pho==1">验证码已发送，请注意查收！</div>
                <div class="flex-center w h25 col_red m_t5" ng-show="pho==2" ng-bind="prompt"></div>
                <div class="h25 m_t5" ng-hide="pho==1||pho==2"></div>
                <div class="bgc_blue col_fff b_r5 w_b90 h45 m0a flex-center f_s18" >下一步</div>
            </div>

        </div>
    </div>
<!-- 
    <div class="wrapper">
        <div class="bgc_blue col_fff h40  p_r flex-center">
            <a href="" class=" p_a l" ng-click="back()">
                <div class="m_l15 m_r15 w10 m_t10">
                    <img src="app/icon/back@2x.png" alt="">
                </div>
            </a>
            <div class="f_s16" ng-show="userInfo.member_phone==''">绑定手机号</div>
            <div class="f_s16" ng-hide="userInfo.member_phone==''">更换绑定手机号</div>
        </div>
        绑定手机号码
        <div class="m0a m_t75 w_b90 h45 flex-start bor b_r5 p_l15" ng-show="userInfo.member_phone==''">
            <input type="text" placeholder="请输入您的手机号码" ng-model="">
        </div>
        <div class="w150 h50 m0a m_t40 f_s16 m_b40" ng-hide="userInfo.member_phone==''">
            <div class="flex-center m_b5" >当前绑定</div>
            <div class="flex-center f_w_6 l_s1">{{phone}}</div>
        </div>
        <div class="m0a m_t20 w_b90 h45 flex-between">
            <div class=" h bk w210 flex-start bor b_r5 p_l15">
                <input type="text" placeholder="请输入收到的验证码" ng-model="">
            </div>
            <div class="w110 h flex-center bgc_a9 b_r5  col_fff">获取验证码
            </div>
        </div>
        <div class="bgc_blue col_fff b_r5 w_b90 h45 m0a m_t45 flex-center f_s18">立即绑定</div>
    </div>
 -->