
    <div>
    <!--底层导航栏-->
        <div class="p_f b  h50 w flex-between bgc_fff bor_t">
            <a href="#/main"><div class="h w60  m_l15 m_r15 m_b5">
                <div class=" h20 w20 m0a m_t5 "><img src="app/icon/store_tab_home@2x.png" alt=""></div>
                <div class="f_s11 t_a_c m_t5">首页</div>
            </div>
            </a>
            <a href="#/pendingAudit"><div class="h w60  m_l15 m_r15 m_b5">
                <div class=" h20 w20 m0a m_t5 "><img src="app/icon/home_tab_order@2x.png" alt=""></div>
                <div class="f_f f_s11 t_a_c m_t5">我的预约</div>
            </div>
            </a>
            <a href="#/shopping"><div class="h w60  m_l15 m_r15 m_b5">
                <div class=" h20 w20 m0a m_t5 "><img src="app/icon/store_tab_shop_search@2x.png.png" alt=""></div>
                <div class="col_blue f_s11 t_a_c m_t5">我的商城</div>
            </div>
            </a>
            <a href="#/personalCenter"><div class="h w60  m_l15 m_r15 m_b5">
                <div class=" h20 w20 m0a m_t5 "><img src="app/icon/home_tab_mine@2x.png" alt=""></div>
                <div class="f_s11 t_a_c m_t5">个人中心</div>
            </div>
            </a>
        </div>
    </div>