<div class="wrap flex flex-v back_ef" id="confirm_order">
    <!--<div class="pulice_header">-->
        <!--<div class="titbox p_r">-->
            <!--<p class="tit">支付完成</p>-->
        <!--</div>-->
    <!--</div>-->
    <div class="main back_ef flex-1">
        <div class="back_fff col_333 f-12 plr-15">
            <p class="pt-30 pb-30 o_h m0a w_2">
                <i class="Pigeon-icon l hei_40 wid_40"></i>
                <span class="ml-15 di_bl l line_h40 f-24">支付完成</span>
            </p>
            <p class="pb-30 o_h t_c">
                <a href="#/home" class="di_bl l main_col bor_5 history_mall">返回商城</a>
                <a href="" class="di_bl r main_col bor_5 view-order">查看订单</a>
            </p>
        </div>
        <!--为你推荐-->
        <!--<div class="wntj">-->
            <!--<div class="wntj_tit main_col f-18 t_c">为你推荐</div>-->
            <!--<ul class="wntj_goodslist">-->
                <!--<li class="wntj_goods back_fff">-->
                    <!--<a href="#/goods_detail" class="">-->
                        <!--<img src="image/home_selected@3x.png" alt="" class="di_bl m0a">-->
                        <!--<p class="wntj_goodsName text_ellipsis_3 f-12">商品名称和品牌用两行的空间 显示商品名称和品牌用两行的 空间显示两行的空两行的空</p>-->
                        <!--<p class="wntj_goodsYieldly f-10"><span class="bor_3">上海</span></p>-->
                        <!--<p class="wntj_goodsPrice f-14">¥260</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="wntj_goods back_fff">-->
                    <!--<a href="#/goods_detail" class="">-->
                        <!--<img src="image/home_selected@3x.png" alt="" class="di_bl m0a">-->
                        <!--<p class="wntj_goodsName text_ellipsis_3 f-12">商品名称和品牌用两行的空间 显示商品名称和品牌用两行的 空间显示两行的空两行的空</p>-->
                        <!--<p class="wntj_goodsYieldly f-10"><span class="bor_3">上海</span></p>-->
                        <!--<p class="wntj_goodsPrice f-14">¥260</p>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="wntj_goods back_fff">-->
                    <!--<a href="#/goods_detail" class="">-->
                        <!--<img src="image/home_selected@3x.png" alt="" class="di_bl m0a">-->
                        <!--<p class="wntj_goodsName text_ellipsis_3 f-12">商品名称和品牌用两行的空间 显示商品名称和品牌用两行的 空间显示两行的空两行的空</p>-->
                        <!--<p class="wntj_goodsYieldly f-10"><span class="bor_3">上海</span></p>-->
                        <!--<p class="wntj_goodsPrice f-14">¥260</p>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
    <div class="footer">
    </div>
</div>