<div id="share_app" class="w100 h100 back_F7">
   <div class="share_appback p_r">
      <div class="share_logo">
         <div></div>
      </div>
      <p class="t_c main_col f-16 mt-10">全球农产品网</p>
      <p class="t_c f-14 col_666 mt-10">www.qqncpw.com</p>
   </div>
   <div class="mt-10 plr-15 back_fff">
      <p class="pt-15 text-indent_2 f-14">全球农产品网是一款关于农产品全方位的APP平台 客户端，集农产品上下游产品和信息为一体；覆盖粮油 贸易、物流信息、信贷业务、行业资讯等服务，具有最 全面的供求信息发布、浏览、收藏、查询、商城等功能 ，是信息最全面、涉及业内品种最多、服务网络最广、 涵盖地域最宽的农产品综合服务平台；汇聚农产品行业 资源，立足三农、服务三农，不断提升网络服务质量， 打造国内乃至全球“互联网+农业”服务行业第一网络 品牌。</p>
      <div class="o_h mt-20">
         <p class="l scanApp">
            <img src="" alt="" class="di_bl">
            <span class="t_c di_bl f-14">扫描下载APP</span>
         </p>
         <p class="r dowApp col_fff f-14 t_c main_back bor_3">一键下载</p>
      </div>
   </div>
   <div class="shareAppPhone t_c"><span class="di_in f-16">400-062-7518</span></div>
</div>